[submodule "ThirdParty/GLFW/glfw"]
	path = ThirdParty/GLFW/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ThirdParty/GLM"]
	path = ThirdParty/GLM
	url = https://github.com/g-truc/glm.git
[submodule "ThirdParty/IMGUI/ImGui"]
	path = ThirdParty/IMGUI/ImGui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "ThirdParty/Customizable_Logger"]
	path = ThirdParty/Customizable_Logger
	url = https://github.com/1SHAMAY1/Customizable_Logger
[submodule "ThirdParty/Velox"]
	path = ThirdParty/Velox
	url = https://github.com/1SHAMAY1/Velox
[submodule "ThirdParty/Vulkan"]
	path = ThirdParty/Vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "ThirdParty/OpenGL-Registry"]
	path = ThirdParty/OpenGL-Registry
	url = https://github.com/KhronosGroup/OpenGL-Registry.git
[submodule "ThirdParty/volk"]
	path = ThirdParty/volk
	url = https://github.com/zeux/volk.git
[submodule "ThirdParty/miniaudio"]
	path = ThirdParty/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "ThirdParty/ForgeUI"]
	path = ThirdParty/ForgeUI
	url = https://github.com/TimeEngineOrg/ForgeUI.git
