# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio folders
.vs/
.vscode/
*.VC.db
*.VC.opendb

# Visual Studio project files
*.sln
*.suo
*.user
*.userosscache
*.sdf
*.ipch
*.opensdf

# Submodules compiled locally
TimeEngine/vendor/**/build/
TimeEngine/vendor/**/bin/
TimeEngine/vendor/**/bin-int/