[submodule "Vendor/GLFW/vendor/GLFW"]
	path = Vendor/GLFW/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Vendor/GLFW/glfw"]
	path = Vendor/GLFW/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Vendor/GLM"]
	path = Vendor/GLM
	url = https://github.com/g-truc/glm.git
[submodule "Vendor/IMGUI/ImGui"]
	path = Vendor/IMGUI/ImGui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Logger/Customizable_Logger_new"]
	path = Logger/Customizable_Logger_new
	url = https://github.com/1SHAMAY1/Customizable_Logger
[submodule "Vendor/Customizable_Logger"]
	path = Vendor/Customizable_Logger
	url = https://github.com/1SHAMAY1/Customizable_Logger
[submodule "Vendor/Velox"]
	path = Vendor/Velox
	url = https://github.com/1SHAMAY1/Velox
[submodule "Vendor/Vulkan"]
	path = Vendor/Vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "Vendor/OpenGL-Registry"]
	path = Vendor/OpenGL-Registry
	url = https://github.com/KhronosGroup/OpenGL-Registry.git
[submodule "Vendor/volk"]
	path = Vendor/volk
	url = https://github.com/zeux/volk.git
