[submodule "Vendor/GLFW/vendor/GLFW"]
	path = Vendor/GLFW/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Vendor/GLFW/glfw"]
	path = Vendor/GLFW/glfw
	url = https://github.com/glfw/glfw.git
