# Binaries
Bin/
Bin-Intermediate/
**/build/
**/bin/
**/obj/
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.exp
*.obj
*.idb
*.tlog

# Visual Studio / IDE
.vs/
*.user
*.vcxproj.user
*.sln
*.sln.DotSettings.user
*.vcxproj
*.vcxproj.filters
recent_projects.txt

# JetBrains Rider
.idea/
.Rider*/

# Mac
.DS_Store


# Sandbox
Sandbox/*
!Sandbox/src/

# Docs
Docs/

# Engine Logs
**/*.json
recent_projects.txt

# Agents
!.agents/
!.agents/**

# ImGui layout config
*.ini
imgui.ini
